[user]
	name = David Fisher
	email = ddf1991@gmail.com
[color]
	ui = true
[alias]
	lol = log --oneline --graph --decorate
  unadd = reset --
  mark = tag -f marked
  inspect = !vim -c \"tabdo Gdiff marked\" -p `git diff --name-only marked`
  pull-inspect = !git mark && git pull && git inspect
  committers = shortlog -nse --no-merges
[core]
	editor = vim
[merge]
	tool = vimdiff
[branch]
	autosetuprebase = always
